body {
    background-color: lightgoldenrodyellow;
    color: darkblue;
    }
    
    
    * {
    box-sizing: border-box;
    }
    
    /* Rows*/
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
    
    /* Button */
    .greenBut {
    color: darkblue;
    padding: 12px; /* Some padding */
    background-color: yellow;
    font-size: 24px;
    border: 1px solid #ccc; 
    border-radius: 6px; /* Rounded borders */
    margin: 10px;
    }
    
    img {
    max-width: 100%;
    margin: 10px;
    }
    
    button:hover {
    opacity: .5;
    }